.command {
  display: flex;
}

.command--loading code::before {
  content: '/bin/bash -c "$(wget -qO- https://raw.githubusercontent.com/leorodriguesf/omakase/refs/heads/ubuntu/install.sh)"';
  color: transparent;
  display: inline-block;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.2s infinite linear;
  border-radius: 4px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
